.create-scrim-form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1em;
  width: 500px;
}

.title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.create-input {
  font-size: 1.2em;
  width: 100%;
  margin: 0.2em;
}

label {
  font-size: 1em;
}

button {
  text-align: center;
  width: 50%;
  font-size: 1.1em;
  margin: auto;
  margin-top: 0.5em;
}
