.create-scrim-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light);
  border: 5px solid var(--primary);
  border-radius: 10px;
  padding: 1em;
  margin: auto;
  width: 400px;
  height: 550px;
}

.title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.create-input {
  font-size: 1.2em;
  width: 100%;
  margin: 0.2em;
}

.error {
  color: red;
  font-size: 0.9em;
}

label {
  font-size: 1em;
}

button {
  text-align: center;
  width: 50%;
  font-size: 1.1em;
  margin: auto;
  margin-top: 0.5em;
}
