:root {
  --text: #dce6eb;
  --primary: #416788;
  --secondary: #f96e46;
  --background: #0f1108;

  color: var(--text);
}

.App {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: var(--background);
}

.form-display-enter {
  margin-top: -100px;
  opacity: 0;
  transform: scale(0.9);
}

.form-display-enter-active {
  margin-top: 0px;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms, margin-top 200ms;
}

.form-display-exit {
  opacity: 1;
}

.form-display-exit-active {
  margin-top: -100px;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.scrim-forms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  border: 5px solid var(--primary);
  border-radius: 10px;
  width: 60%;
  padding: 1em;
  background-color: var(--background);
  margin: auto;
}

.form-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light);
  border: 5px solid var(--primary);
  border-radius: 10px;
  padding: 1em;
  margin: auto;
  width: 400px;
  min-height: 550px;
}

button {
  background-color: var(--background);
  color: var(--text);
  border: 5px solid var(--primary);
  border-radius: 10px;
}

button:hover {
  transition: 500ms;
  background-color: var(--text);
  color: var(--background);
}

.form-card > input {
  background-color: var(--background);
  border: 1px solid var(--text);
  color: var(--text);
}

.form-card > select {
  background-color: var(--background);
  border: 1px solid var(--text);
  color: var(--text);
}
