.find-input {
  font-size: 1.2em;
  width: 100%;
  margin: 0.2em;
}

.find-input:hover {
  transition: 250ms;
  background-color: var(--text);
  color: var(--background);
}

.find-input:focus {
  background-color: var(--text);
  color: var(--background);
}

label {
  font-size: 1em;
}

button {
  text-align: center;
  width: 50%;
  font-size: 1.1em;
  margin: auto;
  margin-top: 0.5em;
}
