.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "game team-name date elo"
    "game discord time region";
  height: 4em;
  border: 1px solid #001b66;
  background-color: #ffe19c;
  font-size: 1.5em;
  border-radius: 25px;
  text-align: center;
  margin: 0.2em;
}

.game {
  grid-area: game;
}

.team-name {
  grid-area: team-name;
}

.discord {
  grid-area: discord;
}

.date {
  grid-area: date;
}

.time {
  grid-area: time;
}

.elo {
  grid-area: elo;
}

.region {
  grid-area: region;
}

.descriptor {
  font-size: 0.75em;
  color: grey;
}
