.container {
  --grey: #646464;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 0;
}

.card {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "game team-name date-time elo"
    "game discord date-time region";
  min-height: 4em;
  border: 3px solid var(--secondary);
  background-color: black;
  font-size: 1.5em;
  border-radius: 25px;
  text-align: center;
  margin: 0.2em;
}

.empty-list-card {
  border: 3px solid var(--secondary);
  background-color: black;
  font-size: 2em;
  border-radius: 25px;
  text-align: center;
  margin: 1em;
  padding: 1em;
}

.game {
  grid-area: game;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5em;
  border-right: 1px solid var(--grey);
}

.icon{
  max-width: 100px;
  height: auto;
  margin: auto;
}

.team-name {
  grid-area: team-name;
  border-right: 1px solid var(--grey);
}

.discord {
  grid-area: discord;
  border-right: 1px solid var(--grey);
}

.date-time {
  grid-area: date-time;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid var(--grey);
}

.elo {
  grid-area: elo;
}

.region {
  grid-area: region;
}

.refresh-button {
  border: 3px solid var(--primary);
}

.sort-list{
  border: 3px solid var(--primary);
  border-radius: 25px;
  padding: auto;
  align-self: center;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-direction: row;
}

.sort-text{
  width: 5vw;
  margin: 20px;
  align-self: center;
  font-size: 1.2em;
  font-weight: bold;
}

.sort-button{
  width: 5vw;
  margin: 20px;
}

.descriptor {
  font-size: 0.75em;
  color: var(--grey);
}
